@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-image: cover;
  font-family: "poppins", sans-serif;
}
.custom-heading {
  color: rgb(234, 234, 235);
  font-weight: bold;
}
.custom-calender {
  margin-left: 10px;
  font-size: 28px;
  padding: 2px 0;
}
.custom-one {
  border: 1px solid rgb(104, 104, 104);
  margin: 30px auto;
  border-radius: 30px;
  background: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 1px 1px 1px 1px rgb(83, 82, 82);
}
label.error {
  color: rgb(18, 223, 226);
}
label {
  color: #fff;
}
input,
select {
  outline: 0.5px solid rgb(148, 146, 146);
}
.custom-button:hover {
  transform: translateY(-4px);
  transition: all 0.5s ease;
  box-shadow: 1px 2px 3px 3px rgb(142, 140, 140);
}
#label-check {
  color: rgb(175, 241, 99);
  font-size: 15px;
}
.custom-color {
  display: none;
  color:rgb(80, 239, 65)
}
.custom-password {
  position: relative;
}
.password-show,.password-shows{
  position: absolute;
  font-size: 17px;
  top: 10px;
  right: 10px;
}
.password-show:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom-one {
    border: none;
  }
  #label-check {
    font-size: 12px;
  }
  .fa {
    font-size: 16px;
  }
  #label-check{
    color:rgb(3, 74, 12)
  }
}
